<!-- Parallax begin -->
<!-- First Section -->
<div class="parallax-container">
	<div class="fixed-container">
	<div class="parallax image-fixed parallax-image-section">
			<div class="center-container">
				<h1 class="intro-text">Youtilicious SO DECLICIOUS</h1>
			</div>
		</div>
	</div>
</div>
<!-- First Section end -->


<!-- Second Section Sample work -->
<div id="samples" class="scrollspy">
	<div class="fixed-container">
		<div class="samples-container">
			<div class="center-container">
				<%= link_to 'Click to see more', items_path, class:"waves-effect waves-light btn-large samples-button" %>
			</div>
		</div>
	</div>
</div>

<!-- Second Section end -->

<!-- Third Section Parallax image -->
<div id="aboutme" class="parallax-container scrollspy">
	<div class="parallax image-fixed">
		<img class="aboutme-img" src="https://s3.amazonaws.com/youtilicious/newest.png">
	</div>
</div>
<!-- Third Section end -->

<!-- Contact us Section -->
<div id="contactme" class="parallax-container scrollspy">
	<div class="parallax">
		<img src="http://images7.alphacoders.com/363/363100.jpg">
		<h1 class="front">Youtilicious</h1>
		<div class="divider front"></div>
		<h5 class="front">358 Greenfield Avenue, Toronto, Ontario</h5>
		<h4 class="front">Custom Cakes</h4>
		<h4 class="front">By Appointment Only</h4>
		<div class="front"><a href="mailto:youta16@gmail.com">youta16@gmail.com</a></div>
		<i class="fa fa-instagram fa-3x front social-logo"></i>
		<i class="fa fa-facebook-official fa-3x front social-logo"></i>
	</div>
</div>
<!-- Contact us Section end -->
	<!-- Parallax end -->