body, html {
	height: 100%;
	font-family: 'Indie Flower', GillSans, Calibri, Trebuchet, sans-serif;
}

body > img {
}

.parallax-container{
	height: 95vh;
	margin: auto;
	z-index: -1;
}

.modal {
	max-height: 80%;
}

#samples {
	position: relative;
}

.samples-container:before {
	content: '';
	background-image: url('https://s3.amazonaws.com/youtilicious/test1.jpg');
	background-size: cover;
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
	position: absolute;
	height: 94vh;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}


.samples-container {
	z-index: 0;
	height: 94vh;
	min-height: 620px;
	text-align: center;
}

.samples-p-conatiner {
	height: 100%;
	float: left;
	width: 50%;
}

.samples-p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;

}

.samples-button-container {
	float: right;
	width: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}

.image-fixed {
	position: fixed;
}
.col img{
	width: 100%;
	border: 1px solid black;
}

.front {
	position: relative;
	z-index: 1000;
}

.active {
	background: #ea4a4f;
	border: 1px solid #ea4a4f;
}

#contactme {
	height: 50vh;
	text-align: center;
	color: #ee6e73;
}