body, html {
	height: 100%;
	font-family: 'Poiret One', GillSans, Calibri, Trebuchet, sans-serif;
	font-size: 14px}

.parallax-container{
	height: 95vh;
	margin: auto;
	z-index: -1;
}

.parallax img {
	min-height: 0;
	min-width: 0;
}

.modal {
	max-height: 85%;
	width: 50%;
}

#samples {
	position: relative;
	height: 800px;
}

.samples-container {
	height: 100%;
	background-image: url("https://s3.amazonaws.com/youtilicious/collagenew.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.samples-button-container {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}

.image-fixed {
	position: fixed;
}
.col img{
	width: 100%;
}

.front {
	position: relative;
	z-index: 1000;
}

.active {
	background: #ea4a4f;
	border: 1px solid #ea4a4f;
}


.parallax-image-section {
	height: 100%;
	background-image: url("https://s3.amazonaws.com/youtilicious/uta.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

#contactme {
	height: 50vh;
	text-align: center;
	color: #ee6e73;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1024px) {
	#aboutme {
		.parallax img {
			width: 50%;
		}
	}

	#samples {
		height: 600px;
	}

	h1 {
		font-size: 2em;
		margin: 1rem;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.7em;
	}
}